openapi: 3.0.3
info:
  title: API de Integração Painel Abrametas
  version: "7.1.0"
  description: API interna para disponibilização de dados consolidados do painel Abrametas S/R/N.

servers:
  - url: https://s1.assosys.com/siga/testes/api/v7.1.0
    description: Ambiente de testes
  - url: https://siga.abrasel.com.br/api/v7.1.0
    description: Ambiente de produção

tags:
  - name: Autenticação
  - name: Associados

paths:
  /auth:
    post:
      tags: [Autenticação]
      summary: Obter token JWT
      description: |
        Envie `username`, `password`, `client_id` e `client_secret` no corpo da requisição no formato `application/x-www-form-urlencoded`.
        O token retornado deve ser usado no header `Authorization: Bearer <token>` em todas as requisições seguintes.
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [username, password, client_id, client_secret]
              properties:
                username: { type: string, example: "usuario@abrasel.com.br" }
                password: { type: string, example: "sua_senha" }
                client_id: { type: string, example: "seu_client_id" }
                client_secret: { type: string, example: "seu_client_secret" }
      responses:
        '200':
          description: Token gerado com sucesso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token: { type: string, description: "Token JWT" }
                  token_type: { type: string, example: "Bearer" }
                  expires_in: { type: integer, description: "Tempo de expiração em segundos" }
        '400':
          description: Credenciais inválidas ou campos faltando.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error: { type: boolean }
                  messages: { type: object }

  /associados/relatorios:
    get:
      tags: [Associados]
      summary: Relatório de associados por período
      security:
        - bearerAuth: []
      parameters:
        - name: ano
          in: query
          required: true
          schema: { type: integer, minimum: 1000, maximum: 9999 }
          example: 2025
        - name: mes
          in: query
          required: true
          schema: { type: integer, minimum: 1, maximum: 12 }
          example: 2
        - name: limit
          in: query
          required: false
          description: "Paginação: inicio,quantidade (ex: 0,10)"
          schema: { type: string, pattern: '^\d+,\d+$', example: "0,10" }
      responses:
        '200':
          description: Lista de associados
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    uf_siga: { type: string }
                    unidade_nucleo: { type: string }
                    cnpj: { type: string }
                    cidade: { type: string }
                    uf: { type: string }
                    categoria_associado: { type: string }
        '204': { description: Nenhum registro encontrado }
        '401': { description: Token inválido ou ausente }

  /associados/relatorios/municipios:
    get:
      tags: [Associados]
      summary: Municípios com associados ativos
      security:
        - bearerAuth: []
      parameters:
        - name: ano
          in: query
          required: true
          schema: { type: integer }
        - name: mes
          in: query
          required: true
          schema: { type: integer }
        - name: minAssociados
          in: query
          required: false
          description: "Mínimo de associados por município (padrão=1)"
          schema: { type: integer, minimum: 0, default: 1 }
        - name: limit
          in: query
          required: false
          schema: { type: string, pattern: '^\d+,\d+$' }
      responses:
        '200':
          description: Lista de municípios
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  required: [uf, total_cnpj, municipio]
                  properties:
                    uf: { type: string }
                    total_cnpj: { type: integer }
                    municipio: { type: string }
        '204': { description: Nenhum registro encontrado }
        '401': { description: Token inválido ou ausente }

  /associados/relatorios/historico/movimentacoes:
    get:
      tags: [Associados]
      summary: Histórico de movimentações (filiações, desfiliações)
      security:
        - bearerAuth: []
      parameters:
        - name: ano
          in: query
          required: true
          schema: { type: integer }
        - name: mes
          in: query
          required: true
          schema: { type: integer }
        - name: limit
          in: query
          required: false
          schema: { type: string, pattern: '^\d+,\d+$' }
      responses:
        '200':
          description: Lista de movimentações
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    uf_siga: { type: string }
                    unidade_nucleo: { type: string }
                    cnpj: { type: string }
                    dt_movimentacao: { type: string, format: date }
                    mes_ano: { type: string }
                    movimentacao_tipo: { type: string, enum: ["Filiação", "Refiliação", "Desfiliação"] }
                    motivo_desfiliacao: { type: string, nullable: true }
                    motivo_filiacao: { type: string, nullable: true }
        '204': { description: Nenhum registro encontrado }
        '401': { description: Token inválido ou ausente }

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Insira o token no formato `Bearer <token>`