openapi: 3.0.3
info:
  title: API de Integração Painel Abrametas
  version: "7.1.0"
  description: API interna para disponibilização de dados consolidados do painel Abrametas S/R/N.

servers:
  - url: https://s1.assosys.com/siga/testes/api/v7.1.0
    description: Ambiente de testes
  - url: https://siga.abrasel.com.br/api/v7.1.0
    description: Ambiente de produção

tags:
  - name: Autenticação
  - name: Associados

paths:
  /auth:
    post:
      tags: [Autenticação]
      summary: Obter token JWT
      description: |
        Envie `username`, `password`, `client_id` e `client_secret` no corpo da requisição
        no formato `application/x-www-form-urlencoded`.

        O token retornado deve ser usado no header `Authorization: Bearer <token>`
        nas requisições seguintes aos endpoints protegidos.
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - username
                - password
                - client_id
                - client_secret
              properties:
                username:
                  type: string
                  example: "usuario@abrasel.com.br"
                password:
                  type: string
                  example: "sua_senha"
                client_id:
                  type: string
                  example: "seu_client_id"
                client_secret:
                  type: string
                  example: "seu_client_secret"
      responses:
        '200':
          description: Token gerado com sucesso.
          content:
            application/json:
              schema:
                type: object
                required:
                  - messages
                  - access_token
                  - token_expira_em
                  - expires_in
                  - token_expira_em_time
                  - token_tipo
                  - token_type
                properties:
                  messages:
                    type: string
                    example: "sucesso"
                  access_token:
                    type: string
                    description: Token JWT gerado para autenticação.
                    example: "eyJ0eXAiOiJKV1QiLCJhbGcYI"
                  token_expira_em:
                    type: string
                    format: date-time
                    description: Data e hora de expiração do token.
                    example: "2026-04-13 11:37:36"
                  expires_in:
                    type: string
                    format: date-time
                    description: Data e hora de expiração do token.
                    example: "2026-04-13 11:37:36"
                  token_expira_em_time:
                    type: integer
                    description: Timestamp Unix da expiração do token.
                    example: 1776091056
                  token_tipo:
                    type: string
                    example: "Bearer"
                  token_type:
                    type: string
                    example: "Bearer"
        '400':
          description: Credenciais inválidas ou campos faltando.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                  error:
                    type: integer
                  messages:
                    type: object
                    properties:
                      error:
                        type: boolean
                      messages:
                        type: string
              example:
                status: 400
                error: 400
                messages:
                  error: true
                  messages: "Usuario e/ou senha invalidos"

  /associados/relatorios:
    get:
      tags: [Associados]
      summary: Relatório de associados por período
      description: |
        Endpoint protegido.

        Headers obrigatórios:
        - `Authorization: Bearer <token>`
        - `client-secret: <seu_client_secret>`

        Exemplo de chamada:
        `GET /associados/relatorios?ano=2023&mes=2`
      security:
        - bearerAuth: []
      parameters:
        - name: client-secret
          in: header
          required: true
          description: Client secret necessário para autenticação da aplicação.
          schema:
            type: string
          example: "seu_client_secret"
        - name: ano
          in: query
          required: true
          description: Ano de referência do relatório.
          schema:
            type: integer
            minimum: 1000
            maximum: 9999
          example: 2025
        - name: mes
          in: query
          required: true
          description: Mês de referência do relatório.
          schema:
            type: integer
            minimum: 1
            maximum: 12
          example: 2
        - name: limit
          in: query
          required: false
          description: "Paginação no formato `inicio,quantidade` (exemplo: `0,10`)."
          schema:
            type: string
            pattern: '^\d+,\d+$'
          example: "0,10"
      responses:
        '200':
          description: Lista de associados.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    unidade_nucleo:
                      type: string
                    cnpj:
                      type: string
                    cidade:
                      type: string
                    uf:
                      type: string
                    categoria_associado:
                      type: string
                    uf_siga:
                      type: string
        '204':
          description: Nenhum registro encontrado.
        '401':
          description: Token inválido, ausente ou client-secret não informado.

  /associados/relatorios/municipios:
    get:
      tags: [Associados]
      summary: Municípios com associados ativos
      description: |
        Endpoint protegido.

        Headers obrigatórios:
        - `Authorization: Bearer <token>`
        - `client-secret: <seu_client_secret>`
      security:
        - bearerAuth: []
      parameters:
        - name: client-secret
          in: header
          required: true
          description: Client secret necessário para autenticação da aplicação.
          schema:
            type: string
          example: "seu_client_secret"
        - name: ano
          in: query
          required: true
          schema:
            type: integer
          example: 2025
        - name: mes
          in: query
          required: true
          schema:
            type: integer
          example: 2
        - name: minAssociados
          in: query
          required: false
          description: Mínimo de associados por município. Padrão = 1.
          schema:
            type: integer
            minimum: 0
            default: 1
          example: 1
        - name: limit
          in: query
          required: false
          description: "Paginação no formato `inicio,quantidade` (exemplo: `0,10`)."
          schema:
            type: string
            pattern: '^\d+,\d+$'
          example: "0,10"
      responses:
        '200':
          description: Lista de municípios.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  required:
                    - uf
                    - total_cnpj
                    - municipio
                  properties:
                    uf:
                      type: string
                    total_cnpj:
                      type: integer
                    municipio:
                      type: string
        '204':
          description: Nenhum registro encontrado.
        '401':
          description: Token inválido, ausente ou client-secret não informado.

  /associados/relatorios/historico/movimentacoes:
    get:
      tags: [Associados]
      summary: Histórico de movimentações (filiações, desfiliações)
      description: |
        Endpoint protegido.

        Headers obrigatórios:
        - `Authorization: Bearer <token>`
        - `client-secret: <seu_client_secret>`
      security:
        - bearerAuth: []
      parameters:
        - name: client-secret
          in: header
          required: true
          description: Client secret necessário para autenticação da aplicação.
          schema:
            type: string
          example: "seu_client_secret"
        - name: ano
          in: query
          required: true
          schema:
            type: integer
          example: 2025
        - name: mes
          in: query
          required: true
          schema:
            type: integer
          example: 2
        - name: limit
          in: query
          required: false
          description: "Paginação no formato `inicio,quantidade` (exemplo: `0,10`)."
          schema:
            type: string
            pattern: '^\d+,\d+$'
          example: "0,10"
      responses:
        '200':
          description: Lista de movimentações.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    unidade_nucleo:
                      type: string
                    movimentacao_tipo:
                      type: string
                      enum:
                        - Filiação
                        - Refiliação
                        - Desfiliação
                    mes_ano:
                      type: string
                    cnpj:
                      type: string
                    dt_movimentacao:
                      type: string
                      format: date
                    motivo_desfiliacao:
                      type: string
                      nullable: true
                    motivo_filiacao:
                      type: string
                      nullable: true
                    uf_siga:
                      type: string
        '204':
          description: Nenhum registro encontrado.
        '401':
          description: Token inválido, ausente ou client-secret não informado.

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Insira o token no formato `Bearer <token>`